<div class="layout">
  <div class="client-info-pane">
    <div class="client-info-card" *ngIf="selectedClient">
      <app-client-info [client]="selectedClient"></app-client-info>
    </div>
    <div class="buttons-panel">
      <app-icon-button icon="new" label="Create"></app-icon-button>
      <app-icon-button icon="edit" label="Edit"></app-icon-button>
      <app-icon-button icon="delete" label="Delete"></app-icon-button>
    </div>
  </div>
  <div class="client-list-pane">
    <div class="client-list-card scrollable">
    <div class="search-input-container">
      <input
        class="search-input"
        type="text"
        placeholder="Search clients..."
        [(ngModel)]="searchTerm"
      />
    </div>
      <app-client-list
        [clients]="filteredClients"
        [selectedClient]="selectedClient"
        (clientSelected)="onClientSelected($event)">
      </app-client-list>
    </div>
  </div>
</div>
