<div class="layout">
  <div class="client-info-pane">
    <div class="client-info-card" *ngIf="selectedClient">
      <app-client-info [client]="selectedClient"></app-client-info>
    </div>
    <div class="buttons-panel">
      <button class="btn-secondary" (click)="onOpenModal('create')">Create</button>
      <button class="btn-secondary" (click)="onOpenModal('edit')">Edit</button>
      <button class="btn-warning" (click)="onDeleteClient()">Delete</button>
    </div>
  </div>
  <div class="client-list-pane">
    <div class="client-list-card scrollable">
    <div class="search-input-container">
      <input
        class="search-input"
        type="text"
        placeholder="Search clients..."
        [(ngModel)]="searchTerm"
      />
    </div>
      <app-client-list
        [clients]="filteredClients"
        [selectedClient]="selectedClient"
        (clientSelected)="onClientSelected($event)">
      </app-client-list>
    </div>
  </div>
</div>

    <app-modal [open]="showModal" [title]="modalTitle" (closed)="onCloseModal()">
      <app-client-modal
        [selectedClient]="selectedClient"
        [modalType]="modalType"
        (submitted)="onModalSubmitted($event)"
        (cancelled)="onModalCancelled()">
      </app-client-modal>
    </app-modal>
