@import '/src/tokens.scss';

.confirm-dialog {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 260px;
  padding: 0 $space-xl;
}

.confirm-message {
  margin-bottom: $space-xxl;
  text-align: center;
}

.confirm-actions {
  display: flex;
  gap: $space-lg;
  justify-content: center;
}
