@import '/src/tokens.scss';

.client-card {
  display: flex;
  flex-direction: column;
  gap: $space-lg;
}

.client-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: $space-xxl;
  align-items: center;
}

.client-avatar {
  min-width: 120px;
  height: 120px;
  overflow: hidden;
}

.client-avatar img {
  width: 100%;
  height: 100%;
}

.client-data {
  width: 100%;
}

.client-name {
  color: $color-accent;
  font-size: $space-xxl;
  max-width: 350px;
  margin: $space-lg 0;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.client-subtitle {
  display: flex;
  justify-content: space-between;
  font-size: $space-lg;
}

.client-quote {
  color: $color-muted;
  justify-content: center;
  align-items: center;
  display: flex;
  background: $color-surface-alt;
  border-radius: $radius-md;
  padding: $space-md;
}
