@import '/src/tokens.scss';

* {
  font-family: 'Courier New', Courier, monospace;
}

html,
body {
  background: $color-bg;
  color: $color-text;
  scrollbar-color: $color-accent $color-surface;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    background: $color-surface;
    border-radius: $radius-md;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-accent;
    border-radius: $radius-md;
    min-height: $space-xxl;

    &:hover {
      background: lighten($color-accent, 10%);
    }
  }
}

button {
  border: none;
  border-radius: $radius-md;
  cursor: pointer;
  font-size: $space-lg;
  font-weight: bold;
  padding: $space-md $space-xl;
  transition:
    background 0.2s,
    color 0.2s;

  &.btn-primary {
    background: $color-accent;
    color: $color-bg;

    &:hover:not(:disabled) {
      background: lighten($color-accent, 10%);
    }

    &:disabled {
      background-color: $color-muted;
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  &.btn-secondary {
    background: $color-surface;
    color: $color-text;

    &:hover:not(:disabled) {
      background: lighten($color-surface, 10%);
    }

    &:disabled {
      color: $color-muted;
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  &.btn-warning {
    background: $color-danger;
    color: $color-text;

    &:hover:not(:disabled) {
      background: lighten($color-danger, 10%);
    }

    &:disabled {
      background-color: $color-muted;
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

input[type='text'],
input[type='search'] {
  background: $color-surface-alt;
  border: none;
  border-radius: $radius-md;
  color: $color-text;
  outline: none;
  padding: $space-md;
  transition: background 0.2s;

  &:focus {
    background: $color-surface-hover;
  }

  &::-webkit-search-cancel-button {
    cursor: pointer;
    filter: contrast(0) brightness(1);
    transition: filter 0.2s;

    &:hover {
      filter: contrast(1) brightness(2);
    }
  }
}
