@import '/src/tokens.scss';

/* You can add global styles to this file, and also import other style files */
html,
body {
  background: $color-bg;
  color: $color-text;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  // Custom scrollbar styles
  scrollbar-width: thin;
  scrollbar-color: $color-accent $color-surface;

  &::-webkit-scrollbar {
    width: 0.6rem;
    background: $color-surface;
    border-radius: $radius-md;
  }
  &::-webkit-scrollbar-thumb {
    background: $color-accent;
    border-radius: $radius-md;
    min-height: 2rem;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: lighten($color-accent, 10%);
  }
}

button {
  border: none;
  border-radius: $radius-md;
  padding: $space-md $space-xl;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  transition:
    background 0.2s,
    color 0.2s;

  &.btn-primary {
    background: $color-accent;
    color: $color-bg;

    &:hover {
      background: lighten($color-accent, 10%);
    }
  }

  &.btn-secondary {
    background: $color-surface;
    color: $color-text;

    &:hover {
      background: lighten($color-surface, 10%);
    }
  }

  &.btn-warning {
    background: $color-danger;
    color: $color-text;

    &:hover {
      background: lighten($color-danger, 10%);
    }
  }
}

input[type='text'] {
  background: $color-surface-alt;
  color: $color-text;
  border: none;
  border-radius: $radius-md;
  padding: $space-sm $space-md;
  font-size: 1rem;
  outline: none;
  transition: background 0.2s;

  &:focus {
    background: $color-surface-hover;
  }
}
