@import '/src/tokens.scss';

/* You can add global styles to this file, and also import other style files */
html,
body {
  background: $color-bg;
  color: $color-text;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  // Custom scrollbar styles
  scrollbar-width: thin;
  scrollbar-color: $color-accent $color-surface;

  &::-webkit-scrollbar {
    width: 0.6rem;
    background: $color-surface;
    border-radius: $radius-md;
  }
  &::-webkit-scrollbar-thumb {
    background: $color-accent;
    border-radius: $radius-md;
    min-height: 2rem;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: lighten($color-accent, 10%);
  }
}
